body{
    background-color: antiquewhite;
}   


.barra{
    position: absolute;
    width: 61vw;
    height: 9vh;
    background-color: rgb(104, 77, 54);
    top: -0.9vh;
    left: -1vw;
    display: flex;
    flex-direction: row;
    gap: 4vw;
    font-size: 2vw;
    padding-left: 45vw;
    
}
.principal{
    position:absolute;

    width: 80vw;
    height: 70vh;
    top: 17vh;
    left: 10vw;
    border: 0.2vw solid black;
    display: flex;
    flex-direction: row ;
    padding: 2vw;
    gap: 6vw;
}
.uno{
    border: 0.2vw solid black;
    width: 15vw;
    height: 25vh;
}
.dos{
    border: 0.2vw solid black;
    width: 15vw;
    height: 25vh;
}
.tres{
    border: 0.2vw solid black;
    width: 15vw;
    height: 25vh;
}
.cuatro{
    border: 0.2vw solid black;
    width: 15vw;
    height: 25vh;
}